{% extends 'base.html.twig' %}

{% block title %}404{% endblock %}

{% block body %}
    <h1>404. Page not found</h1>

    <p style="text-align: center;">
        The requested page couldn't be located. Checkout for any URL
        misspelling or <a href="{{ path('app_main') }}">return to the homepage</a>.
    </p>
{% endblock %}
