{% extends 'base.html.twig' %}

{% block title %}500{% endblock %}

{% block body %}
    <h1>Server Error</h1>

    <p style="text-align: center;">Whoops, looks like something went wrong.</p>
{% endblock %}
